<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.airdesk" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".WifiSettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:noHistory="true"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-7fsxh18ga2xz85g" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AirDeskActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileActivity"
            android:label="@string/title_activity_file"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkspaceDetailsActivity"
            android:label="@string/title_activity_Workspace_Details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ManageAccountActivity"
            android:label="Manage Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageAccessListActivity"
            android:label="@string/title_activity_invite_for_workspace"
            android:screenOrientation="portrait" />

        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

        <activity
            android:name=".DropBoxActivity"
            android:label="@string/title_activity_dropbox"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk.LoginActivity" />
        </activity>
        <activity
            android:name=".LoadActivity"
            android:noHistory="true"
            android:label="@string/title_activity_loading" >
        </activity>
    </application>

</manifest>
